<h1 class="text-3xl font-bold mb-6">診断結果</h1>
<h2 class="text-2xl font-semibold mb-4">アナタの声質は</h2>
<p class="text-xl text-blue-500 mb-6"><%= @voice_type %> です</p>
<p class="text-lg mb-6">
  あなたはピッチが(高く/低く）、エネルギーが（強く、弱く）、<br>
  トーンが（明るい/くらい）声質を持っています。
</p>
